.countDownContainer {
  display: flex;
  align-items: center;
  min-width: 200px;

  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title);

  & > div {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: var(--primary);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 0.3125rem;
    font-size: 8.5rem;

    @media (max-width: 360px) {
      font-size: 26vw;
    }

    text-align: center;
  }

  & div span {
    flex: 1;
  }

  & > span {
    font-size: 6.25rem;
    @media (max-width: 360px) {
      font-size: 30vw;
    }
    margin: 0 0.5rem;
  }

  & > div span:first-child {
    border-right: 1px solid var(--countdown-bar);
  }

  & > div span:last-child {
    max-width: 80%;
    border-left: 1px solid var(--countdown-bar);
  }
}

.countDownButton {
  width: 100%;
  min-width: 200px;

  height: 5rem;

  margin-top: 2rem;

  display: block;
  align-items: center;

  border: 0;
  border-radius: 0.3125rem;

  background: var(--button);
  color: var(--button-text);

  font-size: 1.25rem;
  font-weight: 600;

  transition: background-color 0.5s;

  &:hover {
    transform: scale(1.01);
  }

  &:not(:disabled):hover {
    background: var(--button-dark);
  }

  &:disabled {
    background: var(--primary);
    color: var(--text);
    cursor: not-allowed;
    border-bottom: 0.25rem solid var(--green);

    span {
      width: 1.3rem;

      clip-path: circle();
      margin-left: 1rem;

      background: var(--green);
      color: var(--white);
      font-size: 1.15rem;
      font-weight: bolder;
    }
  }

  button {
    display: grid;
  }
}

.countDownButtonActive {
  transform: scale(0.99);
  background: var(--primary);
  color: var(--title);
}

.countDownButtonActive:not(:disabled):hover {
  background: var(--red);
  color: var(--button-text);
}
