.countDownContainer {
  display: flex;
  align-items: center;

  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title);

  & > div {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: var(--white);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 0.3125rem;
    font-size: 8.5rem;
    text-align: center;
  }

  & div span {
    flex: 1;
  }

  & > span {
    font-size: 6.25rem;
    margin: 0 0.5rem;
  }

  & > div span:first-child {
    border-right: 1px solid #f0f1f3;
  }

  & > div span:last-child {
    border-left: 1px solid #f0f1f3;
  }
}

.countDownButton {
  width: 100%;
  height: 5rem;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 0.3125rem;

  background: var(--blue);
  color: var(--white);

  font-size: 1.25rem;
  font-weight: 600;

  transition: background-color 0.5s;

  &:not(:disabled):hover {
    background: var(--blue-dark);
  }

  &:disabled {
    background: var(--white-dark);
    color: var(--text);
    cursor: not-allowed;
    border-bottom: 0.25rem solid var(--green);

    span {
      width: 1.3rem;

      clip-path: circle();
      margin-left: 1rem;

      background: var(--green);
      color: var(--white);
      font-size: 1.15rem;
      font-weight: bolder;
    }
  }
}

.countDownButtonActive {
  background: var(--white);
  color: var(--title);
}

.countDownButtonActive:not(:disabled):hover {
  background: var(--red);
  color: var(--white);
}
