.container {
  height: 100vh;
  min-width: 280px;
  max-width: 997px;

  margin: 0 auto;
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;

  section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;

    @media (max-width: 720px) {
      display: block;

      button {
        margin-bottom: 2rem;
      }

      & > div > div {
        margin-bottom: 1.5rem;
      }
    }
  }
}
