.HomeContainer {
  display: flex;

  @media (max-width: 720px) {
    padding-bottom: 20rem;
  }
}

.container {
  height: 100vh;
  min-width: 280px;
  max-width: 997px;

  margin: 0 auto;
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;

  section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;

    @media (max-width: 720px) {
      display: block;

      button {
        margin-bottom: 2rem;
      }

      & > div > div {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.LateralMenu {
  width: 100px;
  background: var(--primary);

  button {
    appearance: none;
    border: 0;
    background: transparent;
  }

  @media (max-width: 720px) {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
}

.LoadingContainer {
  padding: 0 1rem;
  min-width: 300px;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 25rem;
    margin-bottom: 2.5rem;
  }

  @media (max-width: 720px) {
    img {
      margin: 0 1rem 1rem 2.5rem;
      max-width: 200px;
      margin: 0 1rem;

      margin-bottom: 2.5rem;
    }
  }
}
