.LoginContainer {
  padding: 2rem 1.5rem;
  height: 100vh;
  min-width: 280px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--login-text);
  background: var(--login-background);

  h1 {
    margin-bottom: 0.75rem;
  }

  .LogoFull {
    height: 65%;
  }

  .AuthContainer {
    display: flex;
    flex-direction: column;

    & > img {
      margin-bottom: 1.25rem;
    }

    div {
      display: flex;
      align-items: center;

      margin-bottom: 1rem;

      .LogoAuth {
        width: 2.5rem;
        margin-right: 0.5rem;
      }

      p {
        font-size: 1.15rem;
      }
    }

    .InputContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0.5rem 1rem;
      border-radius: 0.3rem;

      background: white;

      p {
        background: white;
      }

      input {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
        padding: 0.75rem;
        color: #171d1c;
      }

      button {
        margin: 0 auto;
        border: 0;
        appearance: none;
        background: transparent;
        img {
          height: fit-content;
          margin-left: 1rem;
          width: 1.75rem;
        }
      }
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;

    .LogoLogin {
      margin: 0 auto;
      width: 250px;
    }

    .LogoFull {
      height: 300px;
      width: 250px;
      min-width: 150px;
    }

    h1 {
      margin-bottom: 1rem;
      text-align: center;
    }

    button {
      white-space: nowrap;
      margin-bottom: 2rem;
    }

    .AuthContainer {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        p {
          margin-left: 1rem;
        }
      }
    }
    .InputContainer {
      input {
        width: 200px;
      }
    }
  }
}
